/* Global Styles */
body {
    font-family: Inter;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    background-color: #fff;
    background-size: 100%;
	color: #000000;
}

header {
    background-color:#fdda0d;
    backdrop-filter: blur(5px);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0px;
    width: 100%;
    max-width: 100%;
}

/*Text Styling*/
h1 {
    line-height: 45px
}

h1, h2 {
    margin-bottom: 20px;
    font-size: 32px;
}

p {
    font-size: 16px;
    line-height: 26px;
}

/*Image/Button Styling*/
img {
    width: 300px;
    border-radius: 50%;
    box-shadow: 0 16px 32px -16px rgb(0 0 0 / 75%);
}

button {
    box-shadow: 0 8px 16px -8px rgb(0 0 0 / 25%);
}

/*Spacial Styling*/
.section {
    padding: 20px 20px;
    text-align: center;
}

.title {
    text-align: center;
    justify-content: center;
}

.content {
margin:auto;
width: 760px;
text-align: left;
max-width: 100%;
}

.contact_content {
    text-align: center;
}

/*Form Styling*/
form {
    max-width: 500px;
    margin: 0 auto;
    display: grid;
    background-color: #fff;
    border: 1px solid lightgrey;
    border-radius: 4px;
    padding: 40px;
    box-shadow: 0 8px 16px -8px rgb(0 0 0 / 50%);
    grid-gap: 16px;
}

form label {
    display: block;
    margin-bottom: 5px;
    color:#000;
}

form input, form textarea {
    min-width: 55%;
    padding: 10px 10px;
    margin-bottom: 20px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    font-size: 14px;
}

form button, button {
    padding: 5px;
    border: none;
    background-color: #fdda0d;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    width: 60px;
    text-align: center;
}

#CV-div {
    display: grid;
    justify-content: left;
}

#submit-button:hover, #CV-button:hover {
    background-color: #daa520;
}

#social-media:hover {
    fill: #daa520;
}

div.content {
    border-bottom: 1px solid lightgray;
}

/*Footer Styling*/
footer {
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
}